#yte-playlist-reverse-button {
	align-items: center;
	background: transparent;
	border: none;
	border-radius: 50%;
	color: var(--yt-sys-color-baseline--text-primary, #f1f1f1);
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	margin: 0;
	padding: 8px;
}
#yte-playlist-reverse-button:hover {
	background: var(--yt-sys-color-baseline--button-chip-background-hover, rgba(255,255,255,0.2));
}
yt-flexible-actions-view-model #yte-playlist-reverse-button {
	background: var(--yt-sys-color-baseline--additive-background, rgba(255, 255, 255, 0.1));
}
