{
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:import/recommended",
		"plugin:import/typescript",
		"plugin:tailwindcss/recommended",
		"plugin:prettier/recommended",
		"plugin:promise/recommended",
		"plugin:perfectionist/recommended-natural"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": ["react", "@typescript-eslint", "no-secrets"],
	"rules": {
		"react/react-in-jsx-scope": "off",
		"@typescript-eslint/no-unused-vars": ["error"],
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"quotes": ["error", "double", { "avoidEscape": true, "allowTemplateLiterals": true }],
		"semi": ["error", "always"],
		"prefer-const": [
			"error",
			{
				"destructuring": "any",
				"ignoreReadBeforeAssign": false
			}
		],
		"prefer-destructuring": [
			"error",
			{
				"array": true,
				"object": true
			},
			{
				"enforceForRenamedProperties": true
			}
		],
		"no-useless-escape": "off",
		"no-empty": ["error", { "allowEmptyCatch": true }],
		"no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
		"import/first": ["error"],
		"no-secrets/no-secrets": "error",
		"prettier/prettier": [
			"error",
			{
				"arrowParens": "always",
				"endOfLine": "lf",
				"printWidth": 150,
				"semi": true,
				"singleQuote": false,
				"tabWidth": 2,
				"trailingComma": "none",
				"useTabs": true
			}
		],
		"import/no-unresolved": "off",
		"tailwindcss/no-custom-classname": "off"
	},
	"globals": {
		"chrome": "readonly"
	},
	"ignorePatterns": ["watch.js", "dist/**"],
	"overrides": [
		{
			"files": ["*.ts", "*.tsx", "*.js"],
			"parser": "@typescript-eslint/parser"
		}
	]
}
