{
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended-type-checked",
		"plugin:import/recommended",
		"plugin:import/typescript",
		"plugin:tailwindcss/recommended",
		"plugin:promise/recommended",
		"plugin:perfectionist/recommended-natural",
		"plugin:react-hooks/recommended",
		"plugin:prettier/recommended"
	],
	"root": true,
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": "latest",
		"sourceType": "module",
		"project": "./tsconfig.json",
		"tsconfigRootDir": "."
	},
	"plugins": ["react", "@typescript-eslint", "no-secrets"],
	"rules": {
		"react/react-in-jsx-scope": "off",
		"@typescript-eslint/no-unused-vars": ["error"],
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/restrict-template-expressions": "off",
		"quotes": ["error", "double", { "avoidEscape": true, "allowTemplateLiterals": true }],
		"semi": ["error", "always"],
		"prefer-const": [
			"error",
			{
				"destructuring": "any",
				"ignoreReadBeforeAssign": false
			}
		],
		"prefer-destructuring": [
			"error",
			{
				"array": true,
				"object": true
			},
			{
				"enforceForRenamedProperties": true
			}
		],
		"no-useless-escape": "off",
		"no-empty": ["error", { "allowEmptyCatch": true }],
		"no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
		"import/first": ["error"],
		"no-secrets/no-secrets": ["error", { "tolerance": 5.0 }],
		"import/no-unresolved": "off",
		"tailwindcss/no-custom-classname": "off",
		"tailwindcss/classnames-order": "error",
		"@typescript-eslint/no-floating-promises": "error"
	},
	"globals": {
		"chrome": "readonly"
	},
	"ignorePatterns": ["watch.js", "dist/**", "releases/**"],
	"overrides": [
		{
			"files": ["*.ts", "*.tsx", "*.js", ".d.ts", ".spec.ts"],
			"parser": "@typescript-eslint/parser"
		}
	],
	"settings": {
		"tailwindcss": {
			"callees": ["cn"],
			"config": "./tailwind.config.ts"
		},
		"react": {
			"version": "detect"
		}
	}
}
