.yte-action-button {
	align-items: center;
	background-color: initial;
	border-radius: 50%;
	border: 0;
	color: white;
	cursor: pointer;
	height: 36px;
	justify-content: center;
	padding: 0;
	width: 36px;
}

.yte-action-button:hover {
	background: rgba(255, 255, 255, 0.2);
}

.yte-action-button-large {
	height: 40px;
	width: 40px;
}

@keyframes yte-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.yte-spinning {
	animation: yte-spin 2s linear infinite;
}
