.yte-maximized-video {
	width: 100vw !important;
	height: auto !important;
	max-height: 100vh !important;
	left: 0 !important;
	top: 0 !important;
	object-fit: contain !important;
	transform: translateY(var(--yte-header-height)) !important;
	position: relative !important;
}

body[yte-maximized] div.html5-video-container {
	height: calc(var(--yte-video-height) + var(--yte-header-height)) !important;
	display: flex !important;
}

.yte-maximized-video-container {
	position: sticky !important;
	top: 0 !important;
	left: 0 !important;
	width: 100vw !important;
	height: calc(var(--yte-video-height) + var(--yte-header-height)) !important;
	z-index: 2020 !important;
	background: black !important;
	margin-top: calc(-1 * var(--yte-header-height)) !important;
}

.yte-maximized-width {
	width: calc(99vw - 13px) !important;
}

body[yte-maximized] #full-bleed-container {
	margin-top: calc(-1 * var(--yte-header-height)) !important;
	height: calc(var(--yte-video-height) + var(--yte-header-height)) !important;
	max-height: calc(var(--yte-video-height) + var(--yte-header-height)) !important;
}

body[yte-maximized] #columns {
	margin-top: calc(-1 * var(--yte-header-height)) !important;
}

body[yte-maximized] #masthead-container {
	transform: translateY(-100%);
	transition: transform 0.3s ease;
	position: fixed;
	z-index: 3000;
}

body[yte-maximized] #masthead-container.yte-header-visible {
	transform: translateY(0);
}