.ytp-delhi-modern .yte-button-player-controls-left {
	margin: var(--yt-delhi-pill-top-height, 12px) 0 var(--yt-delhi-pill-top-height, 12px) 12px;
	height: var(--yt-delhi-pill-height, 48px) !important;
	border-radius: 28px;
	-webkit-backdrop-filter: var(--yt-frosted-glass-backdrop-filter-override, blur(16px)) !important;
	backdrop-filter: var(--yt-frosted-glass-backdrop-filter-override, blur(16px));
	background: var(--yt-spec-overlay-background-medium-light, rgba(0, 0, 0, 0.3)) !important;
	text-shadow: 0 0 2px #000;
	padding: 0;
	position: relative;
	align-items: center !important;
	display: flex !important;
	width: -webkit-fill-available !important;
	max-width: var(--yt-delhi-pill-height, 48px) !important;
}

.yte-button-below-player {
	place-content: center;
	display: flex;
	flex-wrap: wrap;
	z-index: 0;
	height: 48px;
	width: 48px;
	align-items: center;
	display: flex;
}

body:not(:has(.ytp-delhi-modern)) .yte-button-player-controls-left,
body:not(:has(.ytp-delhi-modern)) .yte-button-player-controls-right {
	place-content: center !important;
	display: inline-flex !important;
	flex-wrap: wrap !important;
	padding: 0px 4px !important;
	z-index: 0 !important;
}

body:not(:has(.ytp-delhi-modern)) .ytp-right-controls:has(.yte-button-player-controls-right) {
	align-items: center !important;
	display: flex !important;
}

body:not(:has(.ytp-delhi-modern)) .yte-button-player-controls-left {
	width: -webkit-fill-available;
	max-width: 48px;
}
